* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.navbar {
    position: sticky;
    top: 0;
    bottom: -14%;
    z-index: 15;
}

.navigation nav {

    height: 80px;
    background: #7A46FD;
    width: 100%;
}

nav h2 {
    font-size: 30px;
    position: absolute;
    top: 17px;
    left: 10%;
    color: white;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 0;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*Media*/
@media (max-width: 1118px) {
    nav h2 {
        left: 10%;
    }
}

@media (max-width: 944px) {
    nav h2 {
        font-size: 30px;
        left: 6%;
        top: 20px;
    }

    nav ul li a {
        font-size: 17px;
    }
}

@media (max-width: 860px) {
    label #btn {
        display: block;
    }

  nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #7A46FD;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }

    #check:checked~label #btn {
        display: none;
    }

    #check:checked~label #cancel {
        display: block;
    }
}
/*-----------------------------------------------------------------------------------------------------------*/
.about{
    padding-top: 2%;
    padding-bottom: 6%;
    background-color: #FFFFFF;
}
.about_row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    padding-top: 50px;
}
.about_col1{
    padding: 10px;
    margin: 5px;
    color: black;
}
.about_col1 img{
    width: 100%;
}
.about_col1 h2{
    font-size: 45px;
    margin-bottom: 5%;
    font-weight: 500;
}
.about_col1 p{
    font-size: 23px;
    line-height: 35px;
    text-align: justify;
    color: #838793;
}
/*--------------------------------------------------About us-------------------------------------------------*/
.about_banner{
    width: 100%;
    height: 600px;
    background: url('https://res.cloudinary.com/dx1alme1d/image/upload/v1617694503/Digital%20card/digi_banner_gpfutu.jpg'), no-repeat;
    background-position: center;
    background-size: cover;
}
.about_opacity{
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.753);
}
.about_details{
   color: white;
   padding-top: 15%;
   text-align: center;
}
.about_details h2{
   font-size: 60px;
   font-weight: 600;
   letter-spacing: 3px;
}
.about_details p{
   font-size: 20px;
}
@media only screen and (max-width: 1030px){
    .about_details{
        color: white;
        padding-top: 20%;
     }
}
@media only screen and (max-width: 770px){
    .about_details{
        color: white;
        padding-top: 25%;
     }
}
@media only screen and (max-width: 430px){
    .about_details{
        color: white;
        padding-top: 45%;
     }
}
@media only screen and (max-width: 380px){
    .about_details{
        text-align: center;
        color: white;
        padding-top: 55%;
     }
     .about_details h2{
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 3px;
     }
     .about_details p{
        font-size: 18px;
     }
}
/* ------------------------------------------------team member --------------------------------------------------*/
.abc {
    padding: 5% 0 5% 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #dbe2ef;
}

.abc h2 {
    text-align: center;
    color: #7A46FD;
    font-size: 35px;
    padding-top: 5%;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 3%;
}
.our-team {
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.425);
    overflow: hidden;
    position: relative;
    margin: 0px 25px;
    padding: 30px 70px;
}

.our-team .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
}

.our-team .pic::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #4a1792;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.2;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .pic::before {
    height: 100%;
}

.our-team .pic::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #4a1792;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.our-team .pic img {
    width: 100%;
    height: 130px;
    /* height: auto; */
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .pic img {
    box-shadow: 0 0 0 14px rgb(233, 224, 224);
    transform: scale(0.7);
}

.our-team .team-content {
    margin-bottom: 30px;
}

.our-team .title {
    font-size: 22px;
    font-weight: 700;
    color: #7A46FD;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.our-team .post {
    display: block;
    font-size: 15px;
    color: #4a1792;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #4a1792;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.our-team .social li a:hover {
    color: #1785eb;
    background: #f7f5ec;
}

@media only screen and (max-width:720px) {
    .container3 {
        flex-direction: column;
    }
    .our-team {
        width: 80%;
        margin-top: 30px;
    }
}

@media only screen and (max-width:1040px) {
    .our-team {
        margin: 0px 11px;
        padding: 30px 60px;
    }
}

@media only screen and (max-width:768px) {
    .our-team {
        margin: 0px 7px;
        padding: 30px 25px;
    }
}

@media only screen and (max-width:426px) {
    .our-team {
        margin-top: 30px;
    }
}
/* ---------------------------------------------scroll top--------------------------------------------------- */
.scrolltop{
    position: fixed;
    right: 10px;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: #7A46FD;
    border-radius: 5px;
    transition: .4s;
    visibility: hidden;
    z-index: 25;
  }
  
  .scrolltop:hover{
    background-color: tomato;
  }
  
  .scrolltop__icon{
    font-size: 30px;
  color: white;
  }
  
  .show-scroll{
    visibility: visible;
    bottom: 1.5rem;
  }
/*--------------------------------------------------footer-------------------------------------------------------*/
.footer{
    width: 100%;
    background-color: #4a1792;
    display: block;
}
.inner-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding-top: 50px;
}
.footer-items{
    padding: 20px;
}
.footer-items h1{
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}
.footer-items p{
    color: #fff;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
.footer-items h2{
    margin: 10px 0;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}
.border{
    height: 2px;
    width: 40px;
    background: #ff9800;
}
.footer-items ul{
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.footer-items ul a{
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}
.footer-items ul a:hover{
    color: #ff9800;
}
.footer-items ul li{
    margin: 10px 0;
    height: 25px;
}
.social-media i{
    height: 40px;
    width: 40px;
    margin: 20px 5px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
    transition: 0.3s;
}
.social-media a i:hover{
    background: #7A46FD;
}
.footer-bottom{
    padding: 10px;
    background: #7A46FD;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.sp5 i{
    padding-right: 5px;
}
@media only screen and (max-width: 330px)
{
    .footer-items{
        padding: 9px;
    }
}